# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Python
*.py[cod]
*.class

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

/node_modules
.prettierrc
